apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-deployment
  labels:
    app: todo-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      imagePullSecrets:
      - name: dockerhub-secret
      containers:
      - name: todo-app
        image: rashmidevops1/my-note-app:microdegree
        ports:
        - containerPort: 8000
